<!DOCTYPE html>
<html>

<head>
    <title>CLIC EPFL | 404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrapper footer full-height" id="main">
        <div class="center full-height">

            <div class="content">
                <img class="footer-logo" src="/img/logo_transparent.png" alt="logo" />
                <img class="footer-logo" src="/img/epfl.png" alt="epfl" />

                <div class="padded-40">
                    <h1>Oh non! 404</h1>
                    <p>Cette page n'existe pas.</p>
                    <p><a href="/">Retourner à l'accueil &raquo;</a></p>
                </div>

                <div class="social">
                    <a href="https://www.facebook.com/clic.epfl/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://t.me/clicnews" target="_blank"><i class="fab fa-telegram"></i></a>
                </div>
                <p class="design">Original website design : Alexandre CHAU &amp; Loïc DROZ.</p>
                <p class="legal">&copy; CLIC association 2019, all rights reserved. Any reproduction, even partial, is
                    strictly prohibited</p>
            </div> <!-- content -->
        </div> <!-- center -->
    </div> <!-- wrapper -->

    <script src="/js/animation.clic.js"></script>
    <script>
        // animate background
        const main = document.getElementById('main')
        new AnimationClic.BackgroundDiagonalTranslation(main, true, true)
    </script>

</body>

</html>
