# Ignore node modules
node_modules/
# Ignore dist folder, should be compiled
dist/

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Large assets such as long videos
assets/untracked/

# Test coverage
coverage/