{#
    This file contains the template to render the home (index) page
#}
{% import "templates/base.njk" as base %}

<!DOCTYPE html>
<html>
    <head>
        {{ base.head(title = "CLIC EPFL | Association des étudiants Informatique et Systèmes de communication") }}
        <link rel="stylesheet" href="/vendor/animate.css">
        <link href="/vendor/timeline.min.css" rel="stylesheet"/>
    </head>

    <body>
        {% set caption %}
        <div class="center">
            <div class="content">
                <div class="caption wow bounceInDown">
                    <h1>Association des étudiants informatique et systèmes de communication EPFL</h1>
                </div>
            </div>
        </div>
        {% endset %}
        {{ base.header(append = caption | safe) }}

        <div class="wrapper">
            <div class="center">
                <div class="content padded-40">
                    <h1>A propos</h1>
                    <h3>Qu'est-ce que la CLIC ?</h3>
                    <p class="center-text padded-40">
                        La CLIC est l’association des étudiants de la faculté IC (Informatique & Systèmes de Communication) de l’EPFL. Notre mission est d’animer notre faculté en organisant différents événements au cours du semestre, comme par exemple des petit-déjeuners, une distribution de vin chaud ou encore un souper de faculté. Nous apportons aussi volontiers notre aide pour les événements individuels, par exemple en prêtant du matériel.
                        <br>
                        <br>
                        La CLIC a aussi un rôle d’incubateur pour les projets individuels. Par exemple, LauzHack a été créé en 2016 comme un événement de l’association, mais ils ont récemment pris leur envol et sont maintenant indépendants.
                        <a href="https://lauzhack.com/" target="_blank">Rendez-leur visite !</a>
                    </p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-navy-blue">
            <div class="center">
                <div class="content padded-40 sponsors">
                    <h1>Sponsors</h1>
                    <h3>Merci à nos soutiens</h3>

                    <a href="https://fairtiq.com/fr-ch/" target="_blank">
                        <img src="/img/fairtiq.png" alt="fairtiq"/>
                    </a>
                    <a href="https://je.epfl.ch/" target="_blank">
                        <img src="/img/je.png" alt="junior-entreprise" style="height:100px"/>
                    </a>
                    <a href="https://www.agepoly.ch/" target="_blank">
                        <img src="/img/agepoly.png" alt="agepoly"/>
                    </a>
                    <br>
                    <a href="https://www.vaudoise.ch/" target="_blank">
                        <img src="/img/vaudoise.png" alt="vaudoise"/>
                    </a>
                    <a href="https://together.ch/" target="_blank">
                        <img src="/img/together.png" alt="together"/>
                    </a>
                    <a href="https://www.buhlergroup.com" target="_blank">
                        <img src="/img/buhler.png" alt="buhler"/>
                    </a>

                    <p class="center-text padded-40">La CLIC est une association à but non-lucratif. Grâce à nos sponsors, nous pouvons continuer à vous proposer des événements gratuits tout au long de l’année. De plus, chacun d’entre eux peut vous apporter quelque chose, alors pourquoi ne pas leur rendre visite ?</p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper">
            <div class="center">
                <div class="content padded-40">
                    <h1>News</h1>

                    <div class="timeline padded-40">
                        <div class="timeline__wrap">
                            <div class="timeline__items">
                                <div class="timeline__item">
                                    <div class="timeline__content news">
                                        <h4>IC Boost Day 2019</h4>
                                        <p class="date">7 avril 2019, par Alexandre Chau</p>
                                        <p>
                                            La CLIC est fière de présenter l'IC Boost Day, le jeudi
                                            <b>2 mai 2019</b>
                                            à l'EPFL dans le bâtiment BC !
                                        </p>
                                        <p>
                                            <br>
                                            De 9h à 16h, venez participer à des mock interviews de recrutement, rencontrer des alumni et assister à diverses présentations et panels ! Une occasion unique pour vous préparer à votre futur professionnel dans le monde de l'ingénierie informatique.
                                        </p>
                                        <p>
                                            <br>
                                            Visitez notre nouvelle page dédiée à l'IC Boost Day :
                                            <a href="/icbd">clic.epfl.ch/icbd</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content news">
                                        <h4>Conférence Richard Stallman</h4>
                                        <p class="date">4 avril 2019, par Alexandre Chau</p>
                                        <p>
                                            Le jeudi
                                            <b>11 avril 2019</b>, la CLIC invite Richard Stallman (alias RMS) pour une conférence à l'EPFL ! L'évènement aura lieu au bâtiment SG à 18h avec apéritif.
                                        </p>
                                        <p>
                                            <br>
                                            Richard Stallman est co-fondateur du projet GNU et du mouvement des licences libres qui ont donné naissance aux plus grands biens communs numériques : GNU/Linux, Mozilla Firefox, LibreOffice, Wikipédia ou encore les Creative Commons. RMS nous partage les enjeux sociaux, éthiques du numérique et sa philosophie de la liberté à l'ère numérique.
                                        </p>
                                        <p>
                                            <br>
                                            Nous vous remercions de
                                            <a href="https://go.epfl.ch/rms-epfl">réserver ici</a>
                                            à des fins d'organisation.
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content news">
                                        <h4>Nouveau site !</h4>
                                        <p class="date">1 mars 2019, par Alexandre Chau</p>
                                        <p>
                                            Bienvenue sur le nouveau site de la CLIC ! Nous avons fait peau neuve avec un design moderne, plus de fonctionnalités et du nouveau contenu, et nous espérons qu'il sera une ressource utile pour les étudiants et personnels de la faculté. Bonne visite !
                                        </p>
                                        <p>
                                            <br>
                                            Crédits de design : Alexandre CHAU et Loïc DROZ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-light-blue-gray">
            <div class="center">
                <div class="content padded-40">
                    <h1>Team</h1>
                    <h3>Notre équipe de bénévoles</h3>

                    <div class="member">
                        <img src="/img/members/oliviercloux.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Olivier Cloux</p>
                            <p class="role">Président</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/hugohueber.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Hugo Hueber</p>
                            <p class="role">Vice-président</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/natalianessler.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Natalia Nessler</p>
                            <p class="role">Administratrice</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/kopigarasiah.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Kopiga Rasiah</p>
                            <p class="role">Vice-administratrice</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/eloisedoyard.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Eloïse Doyard</p>
                            <p class="role">Vice-administratrice</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/jonathanscanzi.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Jonathan Scanzi</p>
                            <p class="role">IT</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/loicdroz.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Loïc Droz</p>
                            <p class="role">IT</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/alexandrechau.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Alexandre Chau</p>
                            <p class="role">IT</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/rubenganansia.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Ruben Ganansia</p>
                            <p class="role">Evènements</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/rayandaod.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Rayan Daod</p>
                            <p class="role">Evènements</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/yusizou.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Yusi Zou</p>
                            <p class="role">Communication</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/romainpugin.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Romain Pugin</p>
                            <p class="role">Relation Coaching</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/blancheduron.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Blanche Duron</p>
                            <p class="role">Relation Coaching</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/camillemontemagni.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Camille Montemagni</p>
                            <p class="role">Sponsoring</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="/img/members/vincentyuan.jpg" alt="photo"/>
                        <div class="desc">
                            <p class="name">Vincent Yuan</p>
                            <p class="role">Sponsoring</p>
                        </div>
                    </div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-turquoise">
            <div class="center">
                <div class="content padded-40">
                    <h1>Galerie</h1>

                    <div class="gallery">
                        <img src="/img/gallery/img13.jpg" alt="photo"/>
                        <img src="/img/gallery/img12.jpg" alt="photo"/>
                        <img src="/img/gallery/img1.jpg" alt="photo"/>
                        <img src="/img/gallery/img2.jpg" alt="photo"/>
                        <img src="/img/gallery/img3.jpg" alt="photo"/>
                        <img src="/img/gallery/img4.jpg" alt="photo"/>
                        <img src="/img/gallery/img5.jpg" alt="photo"/>
                        <img src="/img/gallery/img6.jpg" alt="photo"/>
                        <img src="/img/gallery/img7.jpg" alt="photo"/>
                        <img src="/img/gallery/img8.jpg" alt="photo"/>
                        <img src="/img/gallery/img9.jpg" alt="photo"/>
                        <img src="/img/gallery/img10.jpg" alt="photo"/>
                    </div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        {{ base.footer() }}
    </body>

    <script src="/vendor/wow.min.js"></script>
    <script src="/vendor/timeline.min.js"></script>
    <script>
        // on-scroll reveal animation
        new WOW().init()
        // news timeline
        timeline(document.querySelectorAll('.timeline'))
    </script>
</html>