{#
    This file contains the template to render the Coaching page
    CLIC website software

    Template strings are bound to the CoachingPageViewModel defined in {@link
    coaching-page.ts}

    @author Hugo El Guedj
#}
{% import "components/base-view.njk" as base %}
{% import "components/gallery/gallery-view.njk" as gallery %}
{#{% import "components/social-view.njk" as social %}#}

<!DOCTYPE html>
<html>
    <head>
        {{ base.head(title = "CLIC EPFL | Coaching") }}
    </head>
    <body>
        {{ base.header(tab = "coaching") }}

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40">
                    <p class="ariane">
                        <a href="/">Home</a>
                        &gt; Coaching
                    </p>

                    <img src="img/coaching-logo.jpg" alt="logo" class="center-image">
                    <p class="center-text">
                        Le <a href="https://coaching.epfl.ch/coaching-ic/">Coaching IC</a> est une sous-commission de l’AGEPoly qui a pour but d’accompagner les étudiant.e.s en première année et d'organiser des événements. On est là pour apporter du soutien et surtout donner plein d’amour !
                        On organise des apéros, des soirées jeux, des petits-déj, y’en a pour tout le monde ! Notre objectif, c’est que chaque première se sente bien dans la section et profite à fond de son année 🙂
                        Pour ça, chaque première a un coach, quelqu’un de confiance à qui poser toutes ses questions, qui est là pour lui faire découvrir ses bons plans ou lui apprendre où sont les meilleurs sandwichs sur le campus. On est une quarantaine de coachs, tous chauds et motivés ! Certains sont en deuxième, certains ont fait la mise à niveau, mais tous ont l’expérience de la première et ont envie de partager ce qu’ils ont appris.
                        On collabore aussi avec la CLIC, notamment pour proposer des événements comme l’ICeLAN ou l’apéro CLICoaching.
                        Pour nous contacter, tu peux nous <a href="mailto:coaching.ic@gmail.com">envoyer un mail</a>, nous <a href="https://t.me/joinchat/C_nNRUkX_WChQbtnlhu_Yw">écrire sur Telegram</a> sur le groupe de section ou encore nous <a href="https://www.instagram.com/coaching_ic/">écrire sur Instagram</a>. Au plaisir de te voir à un de nos événements !
                    </p>
                    <div class="social">
                        <a href="https://www.facebook.com/coaching.ic.epfl/" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse fa-fw"></i>
                            </span>
                        </a>
                        <a href="https://t.me/joinchat/C_nNRUkX_WChQbtnlhu_Yw" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-telegram-plane fa-stack-1x fa-inverse fa-fw"></i>
                            </span>
                        </a>
                        <a href="https://www.instagram.com/coaching_ic/" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse fa-fw"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="wrapper bg-navy-blue">
            <div class="center">
                <div class="content padded-40">
                    <h1>Liens utiles</h1>
                        <p class="center-text">
                            Pour t'accompagner tout au long de ton cursus, le coaching, en collaboration avec les délégués et la CLIC, met à ta disposition différentes ressources. Tu as donc accès au magnifique Google Drive de la section, au splendide groupe Telegram ta promo, contacts, etc.
                        </p>
                        <div class="padded-40">
                            <a href="/about" class="more-news">
                                <i class="fas fa-file-pdf fa-lg" style="padding-right: 5px"></i>
                                Un fichier ou un lien
                            </a>
                        </div>
                </div>
            </div>
        </div>#}

        <div class="wrapper bg-light-blue-gray">
            <div class="center">
                <div class="content padded-40">
                    <h1>Team</h1>
                    <h3>Vos coachs dévoués</h3>
                    {% for coach in coachingList %}
                        <a href="{{coach.websiteURL}}" target="_blank">
                            <div class="coaching">
                                <img src="{{coach.imageURL}}" alt="{{coach.name}}"/>
                                <div class="desc">
                                    <p class="name">{{coach.name}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {{ base.footer() }}
    </body>
</html>
