{#
    This file contains the template to render the ICBD page
    CLIC website software

    Template strings are bound to the IcbdPageViewModel defined in {@link
    icbd-page.ts}

    @author Alexandre CHAU
#}
{% import "components/base-view.njk" as base %}

<!DOCTYPE html>
<html>
    <head>
        {{ base.head(title = 'IC Boost Day | CLIC') }}
    </head>

    <body id="icbd">
        <div class="wrapper bg-animation">
            <div class="absolute" id="particles-js"></div>
            <div class="absolute ignore-pointer-events">
                <div class="header">
                    <div class="center">
                        <div class="logo">
                            <img src="/img/logo_black.png" alt="logo"/>
                        </div>

                        <div class="menu">
                            <ul>
                                <li class="current">
                                    <a href="/">&laquo; Back to homepage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-->

                <div class="center">
                    <div class="content">
                        <img src="/img/icbd/icbd_logo.svg" class="event-logo" alt="IC Boost Day">

                        <div class="event-info">
                            <h1>Wednesday
                                <span>May 4th 2022</span></h1>
                            <h3>9 AM to 5 PM, BC building</h3>
                        </div>
                    </div>
                    <!-- content-->
                </div>
                <!-- center -->
            </div>
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40">
                    <p class="center-text padded-40">
                        The CLIC is proud to present the 3rd edition of IC Boost Day, a day dedicated to your career in Computer Science! Take part in mock interviews, meet EPFL alumni and join various talks and panels! A unique opportunity to prepare your professional future in the world of computer science and engineering.
                    </p>

                    <p class="center-text registration">
                        {# <a href="https://go.epfl.ch/ICBD_Registration" target="_blank"> #}
                            Registrations open soon ...
                            {# <i class="fas fa-arrow-right"></i>
                        </a> #}
                    </p>

                    <div class="sponsors">
                        <a href="https://clic.epfl.ch">
                            <img src="/img/logo.png" alt="clic">
                        </a>
                        <a href="https://www.epfl.ch">
                            <img src="/img/epfl.png" alt="epfl">
                        </a>
                        <a href="https://www.epfl.ch/campus/associations/list/epic">
                            <img src="/img/epic.png" alt="epic">
                        </a>
                    </div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-orange">
            <div class="center">
                <div class="content padded-40 planning">
                    <h1>Activities</h1>
                    <div class="events-container">
                        <div id="mock" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-handshake"></i>
                                    Mock Coding Interviews</h3>
                            </div>

                            <div class="details">
                                <p>
                                    You have spent years studying the ins and outs of computer science and coding interviews may very well be one of the first times you will need to put into practice the skills you acquired. As such, we believe it would be beneficial for you to practice and get advice directly from the people who run them! Register for this activity and let IC alumni help you sharpen your abilities. Note that there is a limited number of spots for this activity so be sure to sign up for it as soon as possible.
                                </p>
                            </div>
                        </div>

                        
                        <div id="cv-corr" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-check"></i>
                                    CV correction</h3>
                            </div>

                            <div class="details">
                                <p>
                                    The resume is a key element in the recruitment process, hence the necessity to have an impeccable one. How would yours fare among dozens, if not hundreds, of CVs sent to the company you hope to work for ? Well luckily for you, we offer you the opportunity to perfect your resume. During this activity, our partner will first give an in-depth presentation on how to turn your CV into an asset and then they will stay available so that they can provide you with tailored feedback about your resume. Note that there is a limited number of spots for this activity so be sure to sign up for it as soon as possible.

                                </p>
                            </div>
                        </div>

                        <div id="lunch" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-utensils"></i>
                                    Networking Lunch</h3>
                            </div>

                            <div class="details">
                                <p>
                                    The event starts with a convivial Welcome coffee so you can start getting to know each other.
                                    Then from 12:00 to 13:30, take part in an informal lunch with alumni for free.
                                    You will have the opportunity to ask any question to former students now working in the industry.
                                    This will be a standing lunch so that you can walk around and meet as many people as you wish.
                                    Note: to take part in this event, you must leave a 10CHF deposit that you will get back at the beginning of the lunch.
                                    After the last talk, you are invited to our Aperitif which we believe will end the event on a pleasant note!
                                </p>
                            </div>
                        </div>

                          <div id="poster" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-newspaper"></i>
                                    Poster Session</h3>
                            </div>

                            <div class="details">
                                <p>
                                    Have you ever wondered what concrete projects the IC labs are working on ? Are you interested in pursuing a more research-oriented career after your Master but you are unsure which lab to join ? Then take advantage of the Poster Session, co-organized with EPIC, and have a chat with the numerous PhDs who will be here to showcase their work! This activity will be held around lunch time and you will be free to roam around.

                                </p>
                            </div>
                        </div>

                        <div id="10years-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-user-tie"></i>
                                    Talk</h3>
                            </div>

                            <div class="details">
                                <h4>Throwback ten years after leaving EPFL: what do I regret and which useful lessons have I kept</h4>
                                <p>
                                    Meet an alumnus that finished his master 10 years ago. During his time in industry, what did he learn? What does he wish he would have learned while at EPFL?
                                    Come listen to his experience in this nostalgic talk.
                                </p>
                            </div>
                        </div>

                        <div id="internship-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-user-tie"></i>
                                    Talk</h3>
                            </div>

                            <div class="details">
                                <h4>The keys to accomplish a successful internship</h4>
                                <p>
                                    During your Master studies, you are required to take an internship in the industry. Many IC students also choose to do their Master thesis during this internship. The panelist will explain what behaviour to adopt during your internship, how to expand your network and how to make the most out of your experience.
                                </p>
                            </div>
                        </div>

                        <div id="codebase-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-user-tie"></i>
                                    Talk</h3>
                            </div>

                            <div class="details">
                                <h4>How to get familiar with a large codebase in an enterprise</h4>
                                <p>
                                    When entering an company, you will often face large codebases, written by many other programmers. Where does one start? Should you read and understand everything?
                                    Let an experienced alumnus guide you!
                                </p>
                            </div>
                        </div>


                        <div id="mini-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-chalkboard-teacher"></i>
                                    Mini-talks</h3>
                            </div>

                            <div class="details">
                                <h4>Various fields</h4>
                                <p>
                                    Data Science, Cyber Security, Software Engineering… These are all broad IT fields you have heard about but perhaps you would like to have a more concrete understanding of what the daily life of an engineer in such domains is like. During this activity, several alumni working in the same field will come to give a quick overview of a project they worked on before discussing their daily routine and give you insights on what your future work life may look like. We will host alumni working in domains such as Data Science, Networks, Cybersecurity, Distributed Systems, Software Engineering, Video Games and Artificial Intelligence!
                                </p>
                            </div>
                        </div>

                        <div id="meetup" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-users"></i>
                                    Meetup</h3>
                            </div>

                            <div class="details">
                                <p>
                                    It will soon be the time for you to dive into the working world but you perhaps have a few concerns or questions. This is why we are inviting alumni to talk about their own experience on diverse subjects. This discussion-oriented activity will allow you to engage in interesting conversations with alumni who already went through your interrogations and have great insights about them. The featured subjects are : “Master done, what now ? Research or industry ?”, “What does it mean to work in the IT field as a woman ?”, “Should I work for a more sustainable company and if so, what is it like ?” and “What is it like to work in big-tech companies such as the GAFAS ?”

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- events-container -->
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40 timetable-container">
                    <h1>Timetable</h1>
                    <div class="timetable"></div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        {{ base.footer() }}

        <script src="/vendor/particles.min.js"></script>
        <script src="/vendor/timetable.js"></script>

        <script>
            // activate particles rendering
            particlesJS.load('particles-js', '/config/config.particles.json', () => {
                console.log('Initialized particles.js')
            })
        </script>
        <script>
            /* Instantiate and populate timetable. Style is defined the timetable.sass file. */

            const YEAR = 2022;
            const MONTH = 5;
            const DAY = 4;

            function date(hour, minute) {
                return new Date(YEAR, MONTH, DAY, hour, minute);
            }

            const MOCK_OPTIONS = {
                url: '#mock',
                class: 'mock-entry'
            };
            const MEAL_OPTIONS = {
                url: '#lunch',
                class: 'meal-entry'
            };
            const MT_OPTIONS = {
                url: '#mini-talk',
                class: 'talk-entry'
            };
            const CV_OPTIONS = {
                url: '#cv-corr',
                class: 'cvcheck-entry'
            };
            const MEETUP_OPTIONS = {
                url: '#meetup',
                class: 'meetup-entry'
            };
            const POSTER_OPTIONS = {
                url: '#poster',
                class: 'poster-entry'
            };

            let timetable = new Timetable();

            // Only display hours between 9 and 17
            timetable.setScope(9, 17);

            timetable.addLocations([
                'ROOM #1',
                'BC 129',
                'BC 410',
                'BC 420',
                'BC HALL #1',
                'BC HALL #2'
            ]);

            // ROOM #1 events
            let room = 'ROOM #1';
            let eventName = "CV Correction";
            timetable.addEvent(eventName, room, date(9, 30), date(10, 0), CV_OPTIONS);
            timetable.addEvent(eventName, room, date(10, 10), date(10, 40), CV_OPTIONS);
            timetable.addEvent(eventName, room, date(10, 50), date(11, 20), CV_OPTIONS);
            timetable.addEvent(eventName, room, date(11, 30), date(12, 0), CV_OPTIONS);

            timetable.addEvent("MEETUP Research or Industry", room, date(13, 40), date(14, 0), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP Sustaina- bility and Ethics", room, date(14, 20), date(14, 40), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP Big Tech", room, date(14, 50), date(15, 10), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP women in IT", room, date(15, 20), date(15, 40), MEETUP_OPTIONS);

            // BC 129 events    
            room = 'BC 129';
            eventName = "Mock Coding Interview"
            timetable.addEvent(eventName, room, date(9, 30), date(10, 10), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(10, 20), date(11, 0), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(11, 20), date(12, 0), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(13, 40), date(14, 20), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(14, 30), date(15, 10), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(15, 20), date(16, 00), MOCK_OPTIONS);

            // BC 420 events
            room = 'BC 420';
            timetable.addEvent("TALK Throwback 10 years later", room, date(10, 20), date(11, 0), {
                class: 'talk-entry',
                url: '#10years-talk'
            });
            timetable.addEvent('TALK How to get familiar with a large codebase', room, date(13, 30), date(14, 10), {
                class: 'talk-entry',
                url: '#codebase-talk'
            });
            timetable.addEvent('TALK The keys to a good internship', room, date(15, 40), date(16, 20), {
                class: 'talk-entry',
                url: '#internship-talk'
            });
            timetable.addEvent('MT Soft. Eng.', room, date(9, 20), date(9, 50), MT_OPTIONS);
            timetable.addEvent('MT Cyber Sec.', room, date(11, 30), date(12, 0), MT_OPTIONS);
            timetable.addEvent('MT AI', room, date(14, 40), date(15, 10), MT_OPTIONS);


            // BC 410 events
            room = 'BC 410';
            timetable.addEvent('MT Network', room, date(9, 50), date(10, 20), MT_OPTIONS);
            timetable.addEvent('MT Distrib. Systems', room, date(11, 00), date(11, 30), MT_OPTIONS);
            timetable.addEvent('MT Data Science', room, date(14, 10), date(14, 40), MT_OPTIONS);
            timetable.addEvent('MT Video Games', room, date(15, 10), date(15, 40), MT_OPTIONS);

            // BC Hall events
            room = 'BC HALL #1';
            timetable.addEvent("Welcome coffee", room, date(9, 0), date(9, 20), MEAL_OPTIONS);
            timetable.addEvent("Networking Lunch and Speed Dating", room, date(12, 0), date(13, 30), MEAL_OPTIONS);
            timetable.addEvent("Closing Aperitif", room, date(16, 20), date(17, 00), MEAL_OPTIONS);

            room = 'BC HALL #2';
            timetable.addEvent("Poster Session", room, date(11, 0), date(13, 30), POSTER_OPTIONS);

            // Render timetable
            let renderer = new Timetable.Renderer(timetable);
            renderer.draw('.timetable');
        </script>
    </body>
</html>
