{#
    This file contains the template to render the ICBD page
    CLIC website software

    Template strings are bound to the IcbdPageViewModel defined in {@link
    icbd-page.ts}

    @author Alexandre CHAU
#}
{% import "components/base-view.njk" as base %}
{% import "components/committee/committee-view.njk" as committee %}

<!DOCTYPE html>
<html>
    <head>
        {{ base.head(title = 'IC Boost Day | CLIC') }}
    </head>

    <body id="icbd">
        <div class="wrapper bg-animation">
            <div class="absolute" id="particles-js"></div>
            <div class="absolute ignore-pointer-events">
                <div class="header">
                    <div class="center">
                        <div class="logo">
                            <img src="/img/logo_black.png" alt="logo"/>
                        </div>

                        <div class="menu">
                            <ul>
                                <li class="current">
                                    <a href="/">&laquo; Back to homepage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-->

                <div class="center">
                    <div class="content">
                        <img src="/img/icbd/icbd_logo.svg" class="event-logo" alt="IC Boost Day">

                        <div class="event-info">
                            <h1>Wednesday
                                <span>May 4th 2022</span></h1>
                            <h3>9 AM to 6 PM, BC building</h3>
                        </div>
                    </div>
                    <!-- content-->
                </div>
                <!-- center -->
            </div>
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40">
                    <p class="center-text padded-40">
                        CLIC and the IC Faculty are proud to present the 3rd edition of IC Boost Day, a day dedicated to your future career in Computer and Communication Sciences! Take part in mock coding interviews and CV reviews, join various talks and meet plenty of EPFL alumni! They will be here to answer all the interrogations you may have as a future EPFL alumnus, both during specific “meetup sessions” or during our famous networking lunch! ICBD is a unique opportunity to prepare your professional future in the world of computer science and engineering. Join us for this special edition as we celebrate the 20 year anniversary of our School!
                    </p>

                    <p class="center-text registration">
                        <a href="https://go.epfl.ch/icbd-form" target="_blank">
                            Registration
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-orange">
            <div class="center">
                <div class="content padded-40">
                    <div class="sponsors">
                        <a href="https://clic.epfl.ch">
                        <img src="/img/logo_black.png" alt="clic">
                        </a>
                        <a href="https://www.epfl.ch">
                            <img src="/img/epfl.png" alt="epfl">
                        </a>
                    </div>
                    <div class="sponsors">
                        <a href="https://www.epfl.ch/campus/associations/list/epic">
                            <img src="/img/epic_alpha.png" alt="epic">
                        </a>
                        <a href="https://www.epfl.ch/schools/ic/">
                            <img src="/img/faculty_ic_20_years_alpha.png" alt="faculté ic">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40">
                    <h1>Alumni</h1>
                    <h3>Speakers present at the event</h3>
                    <div class="pole">
                        {% for member in speakersAlumniList %}
                            <a href="{{member.websiteURL}}" target="_blank">
                                <div class="member" id="{{member.name}}">
                                    <img src="{{member.imageURL}}" alt="{{member.name}}"/>
                                    <div class="desc">
                                        <p class="name">{{member.name}}</p>
                                        <p class="role">{{member.role}}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <h1>PhD Students</h1>
                    <h3>Presenter of IC labs' work during poster session</h3>
                    <div class="pole">
                        {% for member in speakersLabosList %}
                            <a href="{{member.websiteURL}}" target="_blank">
                                <div class="member" id="{{member.name}}">
                                    <img src="{{member.imageURL}}" alt="{{member.name}}"/>
                                    <div class="desc">
                                        <p class="name">{{member.name}}</p>
                                        <p class="role">{{member.role}}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper bg-orange-gradient">
            <div class="center">
                <div class="content padded-40 planning">
                    <h1>Activities</h1>
                    <div class="events-container">
                        <div id="mock" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-handshake"></i>
                                    Mock Coding Interviews</h3>
                            </div>

                            <div class="details">
                                <p>
                                    You have spent years studying the ins and outs of computer science and coding interviews may very well 
                                    be one of the first times you will need to put into practice the skills you acquired. As such, we believe 
                                    it would be beneficial for you to practice and get advice directly from the people who run them! Register 
                                    for this activity and let IC alumni from Oracle Labs, AdNovum or [TBD] help you sharpen your abilities. Note that 
                                    there is a limited number of spots for this activity so make sure to sign up for it as soon as possible.
                                </p>
                            </div>
                        </div>

                        
                        <div id="cv-corr" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-check"></i>
                                    CV correction</h3>
                            </div>

                            <div class="details">
                                <p>
                                    The resume is a key element in the recruitment process, hence the necessity to have an impeccable one. 
                                    How would yours fare among dozens, if not hundreds, of CVs sent to the company you hope to work for ? 
                                    Well luckily for you, we offer you the opportunity to perfect your resume. During this activity, our 
                                    partner will first give an in-depth presentation on how to turn your CV into an asset and then they will 
                                    stay available so that they can provide you with tailored feedback about your resume. Note that there is 
                                    a limited number of spots for this activity so be sure to sign up for it as soon as possible.
                                </p>
                            </div>
                        </div>

                        <div id="lunch" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-utensils"></i>
                                    Networking Lunch & Speed Dating</h3>
                            </div>

                            <div class="details">
                                <p>
                                    From 12:00 to 13:30, take part for free in an informal lunch with alumni and seize this opportunity 
                                    to ask them any question you'd like! This will be a standing lunch so that you can walk around and 
                                    meet as many people as you wish. And because we want you to be as prepared as you could be after your 
                                    Master, a speed-dating will be organized towards the end of the lunch in which you will have a few 
                                    minutes to convince an alumnus to hire you. <br>
                                    Note that the lunch is mandatory if you want to participate in any other activity of the day and as 
                                    such we ask 10CHF as a deposit (you will get them back right after the lunch).
                                </p>
                            </div>
                        </div>

                          <div id="poster" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-newspaper"></i>
                                    Poster Session</h3>
                            </div>

                            <div class="details">
                                <p>
                                    Have you ever wondered what concrete projects the IC labs are working on ? Are you interested in pursuing 
                                    a more research-oriented career after your Master or looking for an academic project but you are unsure which lab to join ? Then take advantage 
                                    of the Poster Session, co-organized with EPIC, and have a chat with the numerous PhDs who will be here to showcase 
                                    their work! This activity will be held around lunch time and you will be free to roam around.

                                </p>
                            </div>
                        </div>

                        <div id="10years-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-user-tie"></i>
                                    Career Talk</h3>
                            </div>

                            <div class="details">
                                <h4>Throwback ten years after leaving EPFL: what do I regret and which useful lessons have I kept</h4>
                                <p>
                                    Come and meet <a href="#Alexandre Margot">Alexandre Margot</a>, an alumnus who finished their master at EPFL more than 10 years ago. What did they learn during 
                                    their time in the industry? What do they wish they would have learned while at EPFL? What’s the situation now? Come 
                                    listen to their experience in this nostalgic (for them) yet insightful (for you) talk. And to end the day on a high 
                                    note, an <i>apero</i> will take place in BC right after this huge talk!
                                </p>
                            </div>
                        </div>

                        <div id="internship-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-user-tie"></i>
                                    Career Talk</h3>
                            </div>

                            <div class="details">
                                <h4>The keys to accomplish a successful internship</h4>
                                <p>
                                    You can't escape it : the industry internship is an important part of your cursus and many IC students will also choose 
                                    to do their Master thesis during this internship. Meet <a href="#Franck Youssef">Franck Youssef</a>, our guest for this talk who will tell you about what behavior 
                                    you should adopt during your internship, how it is a great opportunity for you to expand your network and more broadly 
                                    speaking, how to make the most out of this experience.
                                </p>
                            </div>
                        </div>

                        <div id="codebase-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-user-tie"></i>
                                    Career Talk</h3>
                            </div>

                            <div class="details">
                                <h4>How to get familiar with a large codebase in an enterprise</h4>
                                <p>
                                    When entering a company, you will often face large existing codebases, written by many other programmers with perhaps as many 
                                    different coding styles. Where does one start? Should you read and understand everything at once? Start everything back from 
                                    scratch? Well, meet [TBD], an alumnus who already dealt with this kind of issues and is now ready to share all their experience 
                                    and knowledge to help you flourish during your first few weeks at a new place!
                                </p>
                            </div>
                        </div>


                        <div id="mini-talk" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-chalkboard-teacher"></i>
                                    Specialization talks</h3>
                            </div>

                            <div class="details">
                                <h4>What does a career in your dream field look like?</h4>
                                <p>
                                    Data Science, Cyber Security, Software Engineering… These are all broad IT fields you have heard about but perhaps you would 
                                    like to have a more concrete understanding of what the daily life of an engineer in such domains is like. During this activity, 
                                    several alumni working in the same field will come to give a quick overview of a project they worked on before discussing their 
                                    daily routine and give you insights on what your future work life may look like. We will host alumni working in domains such 
                                    as Data Science, Networks, Cybersecurity, Software Engineering, Video Games and Artificial Intelligence!
                                </p>
                            </div>
                        </div>

                        <div id="meetup" class="event">
                            <div class="front">
                                <h3>
                                    <i class="fas fa-users"></i>
                                    Meetup Sessions</h3>
                            </div>

                            <div class="details">
                                <p>
                                    It will soon be the time for you to dive into the working world but you perhaps have a few concerns or questions. This is why we 
                                    are inviting alumni to talk about their own experience on diverse subjects. This discussion-oriented activity will allow you to 
                                    engage in interesting conversations with alumni who already went through some of your interrogations and have great insights about them. 
                                    The featured subjects are : “Master completed, what now ? Research, industry, both ?”, “What is it like to work in the IT field as a 
                                    woman ?”, “Should I aim for a more ethical company and if so, what are they like ?”, “What is it like to work in big-tech 
                                    companies such as the GAFAS ?” and finally, “How about working in a start-up?”.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- events-container -->
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40 timetable-container">
                    <h1>Timetable</h1>
                    <div class="timetable"></div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        {{ base.footer() }}

        <script src="/vendor/particles.min.js"></script>
        {# <script src="/vendor/timetable.js"></script> #}

        <script>
            // activate particles rendering
            particlesJS.load('particles-js', '/config/config.particles.json', () => {
                console.log('Initialized particles.js')
            })
        </script>
        <script>
            /*jshint -W079*/

        'use strict';

        var Timetable = function() {
            this.scope = {
                hourStart: 9,
                hourEnd: 17
            };
            this.usingTwelveHour = false;
            this.locations = [];
            this.events = [];
        };

        Timetable.Renderer = function(tt) {
            if (!(tt instanceof Timetable)) {
                throw new Error('Initialize renderer using a Timetable');
            }
            this.timetable = tt;
        };

        (function() {
            function isValidHourRange(start, end) {
                return isValidHour(start) && isValidHour(end);
            }
            function isValidHour(number) {
                return isInt(number) && isInHourRange(number);
            }
            function isInt(number) {
                return number === parseInt(number, 10);
            }
            function isInHourRange(number) {
                return number >= 0 && number < 24;
            }
            function locationExistsIn(loc, locs) {
                return locs.indexOf(loc) !== -1;
            }
            function isValidTimeRange(start, end) {
                var correctTypes = start instanceof Date && end instanceof Date;
                var correctOrder = start < end;
                return correctTypes && correctOrder;
            }
            function getDurationHours(startHour, endHour) {
                return endHour >= startHour ? endHour - startHour : 24 + endHour - startHour;
            }

            Timetable.prototype = {
                setScope: function(start, end) {
                    if (isValidHourRange(start, end)) {
                        this.scope.hourStart = start;
                        this.scope.hourEnd = end;
                    } else {
                        throw new RangeError('Timetable scope should consist of (start, end) in whole hours from 0 to 23');
                    }

                    return this;
                },
                useTwelveHour: function(){
                    this.usingTwelveHour = true;
                },
                addLocations: function(newLocations) {
                    function hasProperFormat() {
                        return newLocations instanceof Array;
                    }

                    var existingLocations = this.locations;

                    if (hasProperFormat()) {
                        newLocations.forEach(function(loc) {
                            if (!locationExistsIn(loc, existingLocations)) {
                                existingLocations.push(loc);
                            } else {
                                throw new Error('Location already exists');
                            }
                        });
                    } else {
                        throw new Error('Tried to add locations in wrong format');
                    }

                    return this;
                },
                addEvent: function(name, location, start, end, options) {
                    if (!locationExistsIn(location, this.locations)) {
                        throw new Error('Unknown location');
                    }
                    if (!isValidTimeRange(start, end)) {
                        throw new Error('Invalid time range: ' + JSON.stringify([start, end]));
                    }

                    var optionsHasValidType = Object.prototype.toString.call(options) === '[object Object]';

                    this.events.push({
                        name: name,
                        location: location,
                        startDate: start,
                        endDate: end,
                        options: optionsHasValidType ? options : undefined
                    });

                    return this;
                }
            };

            function emptyNode(node) {
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
            }

            function prettyFormatHour(hour, usingTwelveHour) {
                var prettyHour;
                    if(usingTwelveHour) {
                            var period = hour >= 12 ? 'PM':'AM';
                            prettyHour = ((hour + 11) % 12 + 1) + ':00' + period;
                    } else {
                            var prefix = hour < 10 ? '0' : '';
                            prettyHour = prefix + hour + ':00';
                    }
                return prettyHour;
            }

            Timetable.Renderer.prototype = {
                draw: function(selector) {
            var timetable = this.timetable;

                    function checkContainerPrecondition(container) {
                        if (container === null) {
                            throw new Error('Timetable container not found');
                        }
                    }
                    function appendTimetableAside(container) {
                        var asideNode = container.appendChild(document.createElement('aside'));
                        var asideULNode = asideNode.appendChild(document.createElement('ul'));
                        appendRowHeaders(asideULNode);
                    }
                    function appendRowHeaders(ulNode) {
                        for (var k=0; k<timetable.locations.length; k++) {
                            var liNode = ulNode.appendChild(document.createElement('li'));
                            var spanNode = liNode.appendChild(document.createElement('span'));
                            spanNode.className = 'row-heading';
                            spanNode.textContent = timetable.locations[k];
                        }
                    }
                    function appendTimetableSection(container) {
                        var sectionNode = container.appendChild(document.createElement('section'));
                        var headerNode = appendColumnHeaders(sectionNode);
                        var timeNode = sectionNode.appendChild(document.createElement('time'));
                        timeNode.className = 'syncscroll';
                        timeNode.setAttribute('name', 'scrollheader');
                        var width = headerNode.scrollWidth + 'px';
                        appendTimeRows(timeNode, width);
                    }
                    function appendColumnHeaders(node) {
                        var headerNode = node.appendChild(document.createElement('header'));
                        headerNode.className = 'syncscroll';
                        headerNode.setAttribute('name', 'scrollheader');
                        var headerULNode = headerNode.appendChild(document.createElement('ul'));

                        var completed = false;
                        var looped = false;

                        for (var hour=timetable.scope.hourStart; !completed;) {
                            var liNode = headerULNode.appendChild(document.createElement('li'));
                            var spanNode = liNode.appendChild(document.createElement('span'));
                            spanNode.className = 'time-label';
                            spanNode.textContent = prettyFormatHour(hour, timetable.usingTwelveHour);

                            if (hour === timetable.scope.hourEnd && (timetable.scope.hourStart !== timetable.scope.hourEnd || looped)) {
                                completed = true;
                            }
                            if (++hour === 24) {
                                hour = 0;
                                looped = true;
                            }
                        }
                        return headerNode;
                    }
                    function appendTimeRows(node, width) {
                        var ulNode = node.appendChild(document.createElement('ul'));
                        ulNode.style.width = width;
                        ulNode.className = 'room-timeline';
                        for (var k=0; k<timetable.locations.length; k++) {
                            var liNode = ulNode.appendChild(document.createElement('li'));
                            appendLocationEvents(timetable.locations[k], liNode);/**/
                        }
                    }
                    function appendLocationEvents(location, node) {
                        for (var k=0; k<timetable.events.length; k++) {
                            var event = timetable.events[k];
                            if (event.location === location) {
                                appendEvent(event, node);
                            }
                        }
                    }
                    function appendEvent(event, node) {
                        var hasOptions = event.options !== undefined;
                        var hasURL, hasAdditionalClass, hasDataAttributes, hasClickHandler = false;

                        if (hasOptions) {
                            hasURL = event.options.url !== undefined;
                            hasAdditionalClass = event.options.class !== undefined;
                            hasDataAttributes = event.options.data !== undefined;
                            hasClickHandler = event.options.onClick !== undefined;
                        }

                        var elementType = hasURL ? 'a' : 'span';
                        var eventNode = node.appendChild(document.createElement(elementType));
                        var smallNode = eventNode.appendChild(document.createElement('small'));
                        eventNode.title = event.name;

                        if (hasURL) {
                            eventNode.href = event.options.url;
                        }

                        if (hasDataAttributes){
                            for (var key in event.options.data) {
                                eventNode.setAttribute('data-'+key, event.options.data[key]);
                            }
                        }

                        if (hasClickHandler) {
                            eventNode.addEventListener('click', function(e) {
                                event.options.onClick(event, timetable, e);
                            });
                        }

                        eventNode.className = hasAdditionalClass ? 'time-entry ' + event.options.class : 'time-entry';
                        eventNode.style.width = computeEventBlockWidth(event);
                        eventNode.style.left = computeEventBlockOffset(event);
                        // dirty little addition
                        var padTime = (time) => String(time).padStart(2, '0')
                        var eventTime = 
                            padTime(event.startDate.getHours()) + ':' +
                            padTime(event.startDate.getMinutes()) + '-' +
                            padTime(event.endDate.getHours()) + ':' +
                            padTime(event.endDate.getMinutes())

                        smallNode.innerHTML = '<span class="time">' + eventTime + '</span><br>' + event.name;
                    }
                    function computeEventBlockWidth(event) {
                        var start = event.startDate;
                        var end = event.endDate;
                        var durationHours = computeDurationInHours(start, end);
                        return durationHours / scopeDurationHours * 100 + '%';
                    }
                    function computeDurationInHours(start, end) {
                        return (end.getTime() - start.getTime()) / 1000 / 60 / 60;
                    }
                    function computeEventBlockOffset(event) {
                        var scopeStartHours = timetable.scope.hourStart;
                        var eventStartHours = event.startDate.getHours() + (event.startDate.getMinutes() / 60);
                        var hoursBeforeEvent =  getDurationHours(scopeStartHours, eventStartHours);
                        return hoursBeforeEvent / scopeDurationHours * 100 + '%';
                    }

                    var scopeDurationHours = getDurationHours(timetable.scope.hourStart, timetable.scope.hourEnd);
                    var container = document.querySelector(selector);
                    checkContainerPrecondition(container);
                    emptyNode(container);
                    appendTimetableAside(container);
                    appendTimetableSection(container);
                    syncscroll.reset();
                }
            };

        })();

        </script>
        <script>
            /* Instantiate and populate timetable. Style is defined the timetable.sass file. */

            const YEAR = 2022;
            const MONTH = 5;
            const DAY = 4;

            function date(hour, minute) {
                return new Date(YEAR, MONTH, DAY, hour, minute);
            }

            const MOCK_OPTIONS = {
                url: '#mock',
                class: 'mock-entry'
            };
            const MEAL_OPTIONS = {
                url: '#lunch',
                class: 'meal-entry'
            };
            const MT_OPTIONS = {
                url: '#mini-talk',
                class: 'mini-talk-entry'
            };
            const CV_OPTIONS = {
                url: '#cv-corr',
                class: 'cvcheck-entry'
            };
            const MEETUP_OPTIONS = {
                url: '#meetup',
                class: 'meetup-entry'
            };
            const POSTER_OPTIONS = {
                url: '#poster',
                class: 'poster-entry'
            };

            let timetable = new Timetable();

            // Only display hours between 8 and 18
            timetable.setScope(8, 18);

            timetable.addLocations([
                'BC 133',
                'BC 129',
                'BC 02',
                'BC 04',
                'BC 420',
                'BC HALL #1',
                'BC HALL #2'
            ]);

            // BC 129 events
            let room = 'BC 129';
            let eventName = "CV Correction";
            timetable.addEvent(eventName, room, date(9, 20), date(9, 50), CV_OPTIONS);
            timetable.addEvent(eventName, room, date(10, 0), date(10, 30), CV_OPTIONS);
            timetable.addEvent(eventName, room, date(10, 50), date(11, 20), CV_OPTIONS);
            timetable.addEvent(eventName, room, date(11, 30), date(12, 00), CV_OPTIONS);

            timetable.addEvent("MEETUP Research or Industry", room, date(13, 30), date(13, 50), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP Sustaina- ble/Ethic companies", room, date(14, 0), date(14, 20), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP Start-ups", room, date(14, 30), date(14, 50), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP Women in IT", room, date(15, 10), date(15, 30), MEETUP_OPTIONS);
            timetable.addEvent("MEETUP Big Tech Companies", room, date(15, 50), date(16, 10), MEETUP_OPTIONS);

            // BC 133 events    
            room = 'BC 133';
            eventName = "Mock Coding Interview"
            timetable.addEvent(eventName, room, date(9, 0), date(9, 35), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(9, 50), date(10, 25), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(10, 40), date(11, 15), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(13, 30), date(14, 05), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(14, 20), date(14, 55), MOCK_OPTIONS);
            timetable.addEvent(eventName, room, date(15, 40), date(16, 15), MOCK_OPTIONS);

            // BC 420 events
            room = 'BC 420';
            timetable.addEvent('Data Science', room, date(9, 50), date(10, 25), MT_OPTIONS);
            timetable.addEvent('AI', room, date(15, 0), date(15, 35), MT_OPTIONS);
            timetable.addEvent('How to get familiar with a large codebase', room, date(10, 30), date(11, 15), {
                class: 'talk-entry',
                url: '#codebase-talk'
            });
            timetable.addEvent('The keys to a successful internship', room, date(13, 30), date(14, 15), {
                class: 'talk-entry',
                url: '#internship-talk'
            });
            timetable.addEvent("Throwback 10 years later", room, date(16, 20), date(17, 05), {
                class: 'talk-entry',
                url: '#10years-talk'
            });

            // BC 02 events
            room = 'BC 02';
            timetable.addEvent('Software Engineering', room, date(9, 10), date(9, 45), MT_OPTIONS);
            timetable.addEvent('Cyber Security', room, date(11, 20), date(11, 55), MT_OPTIONS);
            
            // BC 04 events
            room = 'BC 04';
            timetable.addEvent('Video Games', room, date(14, 20), date(14, 55), MT_OPTIONS);
            timetable.addEvent('Network', room, date(15, 40), date(16, 15), MT_OPTIONS);
            
            // BC Hall events
            room = 'BC HALL #1';
            timetable.addEvent("Welcome coffee (for alumni)", room, date(8, 0), date(8, 40), MEAL_OPTIONS);
            timetable.addEvent("Networking Lunch and Speed Dating", room, date(12, 0), date(13, 30), MEAL_OPTIONS);
            timetable.addEvent("Closing Aperitif", room, date(17, 0), date(18, 0), MEAL_OPTIONS);

            room = 'BC HALL #2';
            timetable.addEvent("Poster Session", room, date(11, 0), date(13, 30), POSTER_OPTIONS);

            // Render timetable
            let renderer = new Timetable.Renderer(timetable);
            renderer.draw('.timetable');
        </script>
    </body>
</html>
