{#
    This file contains the template to render the home (index) page
    CLIC website software

    Template strings are bound to the HomeViewModel defined in {@link home.ts}

    @author Alexandre CHAU
#}
{% import "components/base-view.njk" as base %}
{% import "components/news/news-view.njk" as news %}
{% import "components/sponsors/sponsors-view.njk" as sponsors %}
{% import "components/committee/committee-view.njk" as committee %}

<!DOCTYPE html>
<html>
    <head>
        {{ base.head(title = "CLIC EPFL | Association des étudiants Informatique et Systèmes de communication") }}
        <link rel="stylesheet" href="/vendor/animate.css">
    </head>

    <body>
        {% set caption %}
        <div class="center">
            <div class="content">
                <div class="caption wow bounceInDown">
                    <h1>Association des étudiants informatique et systèmes de communication EPFL</h1>
                </div>
            </div>
        </div>
        {% endset %}
        {{ base.header(tab = "home", classes = "slider", append = caption | safe) }}

        <div class="wrapper">
            <div class="center">
                <div class="content padded-40">
                    <h1>A propos</h1>
                    <h3>Qu'est-ce que la CLIC ?</h3>
                    <p class="center-text padded-40">
                        La CLIC est l’association des étudiants de la faculté IC (Informatique & Systèmes de Communication) de l’EPFL. Notre mission est d’animer notre faculté en organisant différents événements au cours du semestre, comme par exemple des petit-déjeuners, une distribution de vin chaud ou encore un souper de faculté. Nous apportons aussi volontiers notre aide pour les événements individuels, par exemple en prêtant du matériel.
                        <br>
                        <br>
                        La CLIC a aussi un rôle d’incubateur pour les projets individuels. Par exemple, LauzHack a été créé en 2016 comme un événement de l’association, mais ils ont récemment pris leur envol et sont maintenant indépendants.
                        <a href="https://lauzhack.com/" target="_blank">Rendez-leur visite !</a>
                    </p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-navy-blue">
            <div class="center">
                <div class="content padded-40">
                    <h1>Sponsors</h1>
                    <h3>Merci à nos soutiens</h3>

                    {{ sponsors.logoImages(sponsorsList = sponsorsList) }}

                    <p class="center-text padded-40">La CLIC est une association à but non-lucratif. Grâce à nos sponsors, nous pouvons continuer à vous proposer des événements gratuits tout au long de l’année. De plus, chacun d’entre eux peut vous apporter quelque chose, alors pourquoi ne pas leur rendre visite ?</p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper">
            <div class="center">
                <div class="content padded-40">
                    <h1>News</h1>

                    <div class="news padded-40">
                        {{ news.newsCards(news = lastNewsList) }}
                    </div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-light-blue-gray">
            <div class="center">
                <div class="content padded-40">
                    <h1>Team</h1>
                    <h3>Notre équipe de bénévoles</h3>

                    {{ committee.staffGrid(members = committeeList) }}
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-turquoise">
            <div class="center">
                <div class="content padded-40">
                    <h1>Galerie</h1>

                    <div class="gallery">
                        <img src="/img/gallery/img13.jpg" alt="photo"/>
                        <img src="/img/gallery/img12.jpg" alt="photo"/>
                        <img src="/img/gallery/img1.jpg" alt="photo"/>
                        <img src="/img/gallery/img2.jpg" alt="photo"/>
                        <img src="/img/gallery/img3.jpg" alt="photo"/>
                        <img src="/img/gallery/img4.jpg" alt="photo"/>
                        <img src="/img/gallery/img5.jpg" alt="photo"/>
                        <img src="/img/gallery/img6.jpg" alt="photo"/>
                        <img src="/img/gallery/img7.jpg" alt="photo"/>
                        <img src="/img/gallery/img8.jpg" alt="photo"/>
                        <img src="/img/gallery/img9.jpg" alt="photo"/>
                        <img src="/img/gallery/img10.jpg" alt="photo"/>
                    </div>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        {{ base.footer() }}
    </body>

    <script src="/vendor/wow.min.js"></script>
    <script>
        // on-scroll reveal animation
        new WOW().init()
    </script>
</html>