{#
    This file contains the template to render the home (index) page
    CLIC website software

    Template strings are bound to the HomeViewModel defined in {@link home.ts}

    @author Alexandre CHAU
#}
{% import "components/base-view.njk" as base %}
{% import "components/social-view.njk" as social %}
{% import "components/news/news-view.njk" as news %}
{% import "components/sponsors/sponsors-view.njk" as sponsors %}
{% import "components/committee/committee-view.njk" as committee %}
{% import "components/gallery/gallery-view.njk" as gallery %}

<!DOCTYPE html>
<html>
    <head>
        {{ base.head(title = "CLIC EPFL | Association des étudiants Informatique et Systèmes de communication") }}
        <link rel="stylesheet" href="/vendor/animate.css">
    </head>

    <body>
        {% set caption %}
        <div class="center">
            <div class="content">
                <div class="caption wow bounceInDown">
                    <h1>Association des étudiants informatique et systèmes de communication EPFL</h1>
                </div>
            </div>
        </div>
        {% endset %}
        {{ base.header(tab = "home", classes = "slider", append = caption | safe) }}

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40">
                    <h1>À propos</h1>
                    <h3>Qu'est-ce que la CLIC ?</h3>
                    <p class="center-text padded-40">
                      La CLIC est l’Association des étudiant.e.s en Informatique et Communications (incluant donc les programmes de Master en Data Science et Cybersécurité) de l’École Polytechnique Fédérale de Lausanne (EPFL). <br><br>
                      Chaque année nous organisons plusieurs événements, la plupart gratuits, dans le but d’animer la Faculté IC : des petits-déjeuners, des conférences, de multiples apéros, une journée dédiée à la carrière future de nos étudiant.e.s, une distribution de vin chaud, le traditionnel Souper de Faculté, et bien plus !<br><br>
                      La CLIC se donne également pour mission de soutenir les projets individuels de ses étudiant.e.s en fournissant un soutien logistique, financier, ou même organisationnel dans certains cas. Par exemple, LauzHack a été créé e 2016 comme un événement de l’association. Contacte-nous si tu as une idée derrière la tête !<br><br>
                      Enfin, n’hésite pas à passer nous faire un coucou dans notre bureau en INN132 ou sur nos réseaux-sociaux ! Nous serons ravi.e.s de faire ta connaissance 😁

                        {{ social.stackedRoundIcons() }}
                    </p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-light-blue-gray">
            <div class="center">
                <div class="content padded-40">
                    <h1>Team</h1>
                    <h3>Notre équipe de bénévoles</h3>

                    {{ committee.staffGrid(members = committeeList) }}
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-navy-blue">
            <div class="center">
                <div class="content padded-40">
                    <h1>Sponsors</h1>
                    <h3>Merci à nos soutiens</h3>

                    {{ sponsors.logoImages(sponsorsList = sponsorsList) }}

                    <p class="center-text padded-40">La CLIC est une association à but non-lucratif. Grâce à nos sponsors, nous pouvons continuer à vous proposer des événements gratuits tout au long de l’année. De plus, chacun d’entre eux peut vous apporter quelque chose, alors pourquoi ne pas leur rendre visite ?</p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-white">
            <div class="center">
                <div class="content padded-40">
                    <h1>News</h1>

                    <div class="news padded-40">
                        {{ news.newsCards(news = lastNewsList) }}
                    </div>

                    <a href="/news" class="more-news">
                        Plus de news &raquo
                    </a>

                    <p>&nbsp;</p>
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        <div class="wrapper bg-navy-blue">
            <div class="center">
                <div class="content padded-40">
                    <h1>Galerie</h1>

                    {{ gallery.grid(images = galleryPhotos) }}
                </div>
                <!-- content -->
            </div>
            <!-- center -->
        </div>
        <!-- wrapper -->

        {{ base.footer() }}
    </body>

    <script src="/vendor/wow.min.js"></script>
    <script>
        // on-scroll reveal animation
        new WOW().init()
    </script>
</html>
