{#
    This file contains base components definitions for Nunjucks templates
    CLIC website software

    Please read {@link README.md} in this folder for guidelines and
    documentation about templating and view definitions.

    These base components are meant to be re-used and composed in templates
    that describe website pages and other components.

    @author Alexandre CHAU
#}
{% import "components/social-view.njk" as social %}

{#
    Default <head> inner section
    Contains default values for title, charset, fonts and stylesheets.
    WARNING: the macro DOES NOT define the <head> tag itself.

    @param  title   The <title> of the page

    @example    Default usage of head with an overriden title
        {% import "components/base-view.njk" as base %}
        <head>
            {{ base.head(title = "My awesome overriden title") }}
        </head>
#}
{% macro head(title = "CLIC EPFL") %}
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/font-awesome.min.css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/vendor/mmenu.css" rel="stylesheet"/>
    <script src="/vendor/mmenu.js"></script>
{% endmacro %}

{#
    Header component
    Inserts a full width header containing the logo and the menu

    @param tab  String indicating which menu tab should be marked as current
                Possible values : "home", "about" (add tabs if required)

    @param classes  CSS classes to apply to the wrapper div of the header

    @param  append  An element to insert at the end of the header section
                    You may need to specify the "| safe" filter at call site to
                    disable escaping of HTML tags (WARNING: DO NOT use this
                    filter on user-provided data as it allows XSS attacks)

    @example    Insertion of header, marking home tab and with appended slider
        {% import "components/base-view.njk" as base %}
        {% set slider %}
            <!-- NO user-provided strings in the whole definition -->
            <div class="slider">
                ...
            </div>
        {% endset %}
        {{ base.header(tab = "home", append = slider | safe) }}
#}
{% macro header(tab = "", classes = "bg-navy-blue", append = "") %}
    <div class="wrapper {{classes}}">
        <div class="header">
            <div class="center">

                <a class="mobile-menu-toggle" href="#mobile-menu">
                    <i class="fas fa-bars fa-fw"></i>
                </a>

                <div class="logo">
                    <a href="/"><img src="/img/logo_white.png" alt="logo"/></a>
                </div>

                <div class="menu">
                    <ul>
                        <li {% if tab == "home" %} class="current" {% endif %}>
                            <a href="/">Accueil</a>
                        </li>
                        <li {% if tab == "about" %} class="current" {% endif %}>
                            <a href="/about">L'association</a>
                        </li>
                        <li {% if tab == "coaching" %} class="current" {% endif %}>
                            <a href="/coaching">Coaching</a>
                        </li>
                        <li {% if tab == "news" %} class="current" {% endif %}>
                            <a href="/news">News</a>
                        </li>
                        <li {% if (tab == "commission1" or tab == "commission2")  %} class="currentDeroulant" {% else %} class="menuDeroulant" {% endif %}>
                            <a href="#" class="mainADeroulant">Commissions</a>
                            <ul class="sousDeroulant">
                              <li {% if (tab == "commission1")  %} class="currentSousDeroulant" {% else %} class="sousDeroulant" {%endif%}>
                                <a href="/commissions/commissions1">Sous1</a>
                              </li><br>
                              <li class="sousDeroulant">
                                <a href="#">Sous2</a>
                              </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div id="mobile-menu">
                    <ul>
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="/about">L'association</a>
                        </li>
                        <li>
                            <a href="/coaching">Coaching</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/#">Commissions</a>
                              <ul class="sousDeroulant">
                                <li class="sousDeroulant">
                                  <a href="/commissions/commissions1">Sous1</a>
                                </li>
                                <li class="sousDeroulant">
                                  <a href="#">Sous2</a>
                                </li>
                              </ul>
                        </li>
                    </ul>
                </div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new Mmenu("#mobile-menu", {
                            "slidingSubmenus": false,
                            "extensions": ["pagedim-black"]
                        })
                    })
                </script>
            </div>
        </div>

        {{append}}
    </div>
{% endmacro %}

{#
    Footer component
    Inserts a full width footer containing contact / social infos and credits

    @example    Inserts the footer
        {% import "components/base-view.njk" as base %}
        {{ base.footer() }}
#}
{% macro footer() %}
    <div class="wrapper footer" id="footer">
        <div class="bg-animated">
            <div class="moving">
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="center">
            <div class="content">
                <img class="footer-logo" src="/img/logo_white.png" alt="logo"/>
                <img class="footer-logo" src="/img/epfl.png" alt="epfl"/>
                <p class="big">Une association à but non-lucratif de l'Ecole Polytechnique Fédérale de Lausanne</p>
                <p class="coord">
                    CLIC, INN 132, Station 14, EPFL, CH-1015 Lausanne
                    <br>
                    <a href="mailto:&#99;&#108;&#105;&#99;&#64;&#101;&#112;&#102;&#108;&#46;&#99;&#104;">
                        &#99;&#108;&#105;&#99;&#64;&#101;&#112;&#102;&#108;&#46;&#99;&#104;
                    </a>
                    <br>
                    +41 21 693 81 28
                </p>

                {{ social.icons() }}

                <p class="design">Original website design: Alexandre CHAU &amp; Loïc DROZ.</p>
                <p class="legal">
                    &copy; CLIC association 2020, all rights reserved. Any reproduction, even partial, is strictly prohibited
                </p>
            </div>
        </div>
    </div>

    <!-- Matomo analytics -->
    <script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//clic.epfl.ch/matomo/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>

{% endmacro %}
