{#
    This file contains social media components definitions for Nunjucks templates
    CLIC website software

    Please read {@link README.md} in this folder for guidelines and
    documentation about templating and view definitions.

    These base components are meant to be re-used and composed in templates
    that describe website pages and other components.

    @author Alexandre CHAU
#}

{#
    Stacked round icons

    @example
        {% import "components/social-view.njk" as social %}
        {{ social.stackedRoundIcons() }}
#}
{% macro stackedRoundIcons() %}
    <div class="social">
        <a href="https://www.facebook.com/clic.epfl/" target="_blank">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse fa-fw"></i>
            </span>
        </a>
        <a href="https://t.me/clicnews" target="_blank">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-telegram-plane fa-stack-1x fa-inverse fa-fw"></i>
            </span>
        </a>
        <a href="https://www.instagram.com/clicepfl/" target="_blank">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse fa-fw"></i>
            </span>
        </a>
        <a href="https://twitter.com/CLICepfl" target="_blank">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse fa-fw"></i>
            </span>
        </a>
    </div>
{% endmacro %}

{#
    Simple icons

    @example
        {% import "components/social-view.njk" as social %}
        {{ social.icons() }}
#}
{% macro icons() %}
    <div class="social">
        <a href="https://www.facebook.com/clic.epfl/" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://t.me/clicnews" target="_blank">
            <i class="fab fa-telegram"></i>
        </a>
        <a href="https://www.instagram.com/clicepfl/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/CLICepfl" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
{% endmacro %}
