{#
    This file contains component definitions for news related displays
    CLIC website software

    Please read {@link README.md} in the components folder for guidlines and
    documentation about templating and view definitions.

    These news components are meant to be re-used and composed in templates
    describing website pages and other components

    @author Alexandre CHAU
#}

{#
    News cards
    This macro displays a list of news each inside a card

    @param news The list of news to display as an array of News
                    (type News[] as defined in {@link news.ts})

    @example Inserts the cards of the news, data in the view model
             is of type News[]
        {% import "components/news/news-view.njk" as news %}
        {{ news.newsCards(news = data) }}
#}
{% macro newsCards(news) %}
    {# Batch the news chronologically, then reverse the order
       (however each batch has not been reversed) ... #}
    {% for batch in news | batch(3) | reverse %}
        <div class="news-row">
            {# ... so we reverse the batch here #}
            {% for item in batch | reverse %}
                <div class="news-item">
                    <a href="/news/{{item.id}}">
                        <img src="{{item.image}}" alt="{{item.title}}">
                        <p class="title">{{item.title}}</p>
                        <p class="date">{{item.date}}
                            par
                            {{item.author}}</p>
                    </a>
                    <p class="desc">{{item.shortText}}</p>
                    <a href="/news/{{item.id}}" class="more">Lire plus &raquo;</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}