html, body
    padding: 0
    margin: 0
    width: 100%
    height: 100%
    font-family: 'Lato', Helvetica, Arial, sans-serif

ul
    margin: 0
    padding: 0

a, p
    font-size: 16px

.wrapper
    width: 100%
    float: left

.center
    width: 60%
    margin: 0 auto

.content
    width: 100%
    float: left

.slider
    background: #fff url('../public/epfl.jpg') no-repeat left top
    background-size: 100% auto
    height: 650px

.header
    width: 100%
    float: left
    padding: 20px 0 20px 0
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)

    .logo
        float: left

        img
            height: 60px

    .menu
        float: right

        ul
            list-style: none
            float: left

        ul li
            float: left

            a
                display: block
                padding: 5px
                margin: 10px
                color: #fff
                font-weight: bold
                font-size: 17px
                text-decoration: none
                text-transform: uppercase
                
        ul li.current a, ul li a:hover
                border-bottom: 3px solid #fff